<link rel="stylesheet" href="/css/navbar2.css">

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top mt-3 mb-3">
       <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                     data-bs-target="#navbarNavAltMarkup">
                     <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                     <div class="navbar-nav ms-auto">
                            <div class="navbar-nav w-100 flex-md-row flex-column">
                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-bed"></i></div>
                                                 <p>Rooms</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-mountain-city"></i></div>
                                                 <p>Iconic Cities</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div><i class="fa-solid fa-person-swimming"></i></div>
                                                 <p>Amazing Pools</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div><i class="fa-solid fa-campground"></i></div>
                                                 <p>Camping</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-mountain"></i></div>
                                                 <p>Mountains</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-chess-rook"></i></div>
                                                 <p>castles</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-tractor"></i></div>
                                                 <p>Farms</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-person-snowboarding"></i></div>
                                                 <p>Arctic</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-sailboat"></i></div>
                                                 <p>Boats</p>
                                          </div>

                                   </a>
                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div><i class="fa-solid fa-igloo"></i></div>
                                                 <p>Domes</p>
                                          </div>
                                   </a>

                                   <a href="/" class="navbar2a">
                                          <div class="filter">
                                                 <div> <i class="fa-solid fa-cloud-showers-heavy"></i></div>
                                                 <p>Tropical</p>
                                          </div>
                                   </a>


                                   <div class="tax-toggle">
                                          <div class="form-check-reverse form-switch">
                                                 <input class="form-check-input" type="checkbox" role="switch"
                                                        id="switchCheckDefault">
                                                 <label class="form-check-label" for="switchCheckDefault">Show
                                                        Taxes</label>
                                          </div>
                                   </div>

                            </div>
                     </div>
              </div>
       </div>
</nav>