<%-layout("./layouts/boilerplate.ejs")%>
<body>
       <div>
              <h1>
                     About Wanderlust Airbnb
              </h1>
              <p>
                     Hi , I am Parth Vadhani . This is my first project where i have implemented mongoose , node js , express , ejs , etc.
                     This project is available on my github repo.
              </p>
              <h5>made with love</h5>
              <h6>XOXO</h6>
       </div>
</body>